{% extends 'base.html' %}

{% block content %}
<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">Удаление вопроса</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Вы действительно желаете удалить этот вопрос?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Закрыть</button>
                  <a href="{% url 'exam-question-delete' question.exam.id %}" class='btn btn-danger'>Удалить</a>
                </div>
              </div>
            </div>
          </div>
<div class='row justify-content-center mb-3'>
    <div class='col-5'>
        <div class='card'>
        <div class='card-header d-flex align-items-center justify-content-between'>
            <h4>Создать ответ к вопросу "{{ question.text }}"</h4>
            
        </div>
            <div class='card-body'>
                <form method="POST">
                    {% csrf_token %}
                        <div class='mb-3'>
                            {{ form.text }}
                        </div>
                        <div class='mb-3'>
                            <div class="form-check form-check-primary mt-4">
                            {{ form.is_correct }}
                            <label class="form-check-label" for="customCheckPrimary">Правильно</label>
                        </div>
                        </div>
                    <a href="{% url 'exam-details' question.exam.id %}" class='btn btn-warning'>Назад</a>
                    
                    <button type="button" class="btn btn-danger"   data-bs-toggle="modal" data-bs-target="#modalCenter">
                        Удалить вопрос
                    </button>
                    <button type="submit" class='btn btn-primary'>Создать</button>
                </form>
            </div>
       </div>
    </div>
</div>
<div class='row justify-content-center'>
        <div class='col-5 mb-2'>
            <div class="card h-100 shadow-none bg-transparent border border-primary">
                <div class='card-header d-flex align-items-center justify-content-between'>
                    <h5 class="card-title text-primary">{{ question.text }}</h5>
                    </div>
                <div class="card-body">
                    
                    {% for answer in question.answers.all %}
                        {% if answer.is_correct %}
                            <p class="card-text text-success d-flex align-items-center justify-content-between">
                                <span class='d-flex align-items-center'>
                                    <i class='bx bx-radio-circle-marked'></i>
                                    {{ answer.text }}
                                </span>
                                <a href="{% url 'exam-answer-delete' answer.id %}" class='text-danger d-flex'><i class='bx bxs-checkbox-minus'></i></a>
                            </p>
                        {% else %}
                            <p class="card-text text-primary d-flex align-items-center justify-content-between">
                                <span class='d-flex align-items-center'>
                                    <i class='bx bx-radio-circle-marked'></i>
                                    {{ answer.text }}
                                </span>
                                <a href="{% url 'exam-answer-delete' answer.id %}" class='text-danger d-flex'><i class='bx bxs-checkbox-minus'></i></a>
                            </p>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}