{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
  <span class="fs-2 fw-bold">
    {{ exam.title }}
  </span>
  <div class='d-flex gap-2'>
  <a href="{% url 'exam-delete' exam.id %}" class="btn btn-danger">
    Удалить
</a>
<a href="{% url 'exam-update' exam.id %}" class="btn btn-warning">
    Изменить
</a> 
    <a href="{% url 'exam-question-create' exam.id %}" class="btn btn-primary no-print">
    Добавить вопрос
</a>

  </div>
</div>
    <div class='row'>
        {% for question in questions %}
        <div class='col-6 mb-2'>
            <div class="card h-100 shadow-none bg-transparent border border-primary">
                <div class='card-header d-flex align-items-center justify-content-between'>
                    <h5 class="card-title text-primary">{{ forloop.counter }}. {{ question.text }}</h5>
                    <a href="{%  url 'exam-answer-create' question.id %}">
                        <i class='bx bxs-edit' ></i>
                    </a>
                    </div>
                <div class="card-body">
                    
                    {% for answer in question.answers.all %}
                        {% if answer.is_correct %}
                            <p class="card-text text-success">
                            <i class='bx bx-radio-circle-marked'></i>
                            {{ answer.text }}
                        </p>
                        {% else %}
                            <p class="card-text text-primary">
                            <i class='bx bx-radio-circle-marked'></i>
                            {{ answer.text }}
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}