{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
  <span class="fs-2 fw-bold">
    Экзаминирование <sup class="text-muted fs-6">({{ exams.count }})</sup>
  </span>
  <a href="{% url 'exam-create' %}" class="btn btn-primary no-print">Создать</a>
</div>
<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Название</th>
            <th style="width: 30px;">Группы</th>
            <th>Вопросов</th>
            <th>Проходной балл</th>
          </tr>
        </thead>
        <tbody>
          {% for exam in exams %}
          <div class="modal fade" id="modalCenter-{{ exam.id }}" tabindex="-1" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">Удаление экзамена</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Удалить экзамен {{ exam.title }}?
                </div>
                <div class="modal-footer">
                  <a href="{% url 'exam-delete' exam.id %}" class="btn btn-danger">Удалить</a>
                </div>
              </div>
            </div>
          </div>
          <tr>
            <td>
              <a href="{% url 'exam-details' exam.id %}">{{ exam.title }}</a>
            </td>
            <td>
              <span class="">
                {% for i in exam.groups.all %}{{ i.title }}{% endfor %}
              </span>
            </td>
            <td>
              <span class="">
              {{ exam.questions.count }}
              </span>
            </td>
            <td>
              <span class="">
              {{ exam.pass_points }}
              </span>
            </td>
           
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}