{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
  <span class="fs-2 fw-bold">
    Экзаминирование <sup class="text-muted fs-6">Выберите тест</sup>
  </span>
</div>
<div class='row'>
  {% for exam in exams %}
    <div class="col-md-6 col-xl-3 mb-2">
      <a href="{% url 'exam-start' exam.id exam.questions.first.id %}"  class="card bg-primary  text-white">
      <div class="card-body">
        <h5 class="card-title text-white">{{ exam.title }}</h5>
        <p class="card-text">
          Вопросов: {{ exam.questions.count }}
        </p>
      </div>
    </a>
  </div>

  {% endfor %}
</div>

{% endblock %}