{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  {% with request.resolver_match.url_name as url_name %}
  
    <div class="app-brand demo ">
      <a href="{% url 'schedule' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static 'assets/img/logo/logo.png' %}" width="25"/>
      </span>
      <span class="app-brand-text menu-text fw-bold ms-2 fs-3">TAHFIZ</span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
    <div class="menu-inner-shadow"></div>
    
      <!-- Администратор -->
  {% if request.user.role == 'admin' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Администрирование</span></li>
    
    <li class="menu-item {% if url_name == 'schedule' or url_name == 'subject-create' or url_name == 'schedule-create' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon bx bx-food-menu '></i>
        <div class="text-truncate">Расписание</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'schedule' %} active {% endif %}">
          <a href="{% url 'schedule' %}" class="menu-link">
            <div class="text-truncate">Расписание</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'subject-create' %} active {% endif %}">
          <a href="{% url 'subject-create' %}" class="menu-link">
            <div class="text-truncate">Добавить предмет</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'schedule-create' %} active {% endif %}">
          <a href="{% url 'schedule-create' %}" class="menu-link">
            <div class="text-truncate">Расположение предметов</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if url_name == 'dashboard' %} active {% endif %}">
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div>Панель управления</div>
      </a>
    </li>

    <li class="menu-item {% if url_name == 'group-list' %} active {% endif %}">
      <a href="{% url 'group-list' %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Группы</div>
      </a>
    </li>

    <li class="menu-item {% if url_name == 'administrator-list' %} active {% endif %}">
      <a href="{% url 'administrator-list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-note"></i>
        <div>Администраторы</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'teacher-list' %} active {% endif %}">
      <a href="{% url 'teacher-list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div>Преподаватели</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-list' %} active {% endif %}">
      <a href="{% url 'student-list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'grade-group-list' %} active {% endif %}">
      <a href="{% url 'grade-group-list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'attendance-list' %} active {% endif %}">
      <a href="{% url 'attendance-list' %}" class="menu-link">
        <i class='menu-icon bx bx-list-ul' ></i>
        <div>Посещаемость</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'teacher-generated-code' %} active {% endif %}">
      <a href="{% url 'teacher-generated-code' %}" class="menu-link">
        <i class='menu-icon bx bx-barcode-reader'></i>
        <div>Генератор кода</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'exam-list' %} active {% endif %}">
      <a href="{% url 'exam-list' %}" class="menu-link">
        <i class='menu-icon bx bx-radio-circle-marked'></i>
        <div>Экзаминирование</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'exam-result-list' %} active {% endif %}">
      <a href="{% url 'exam-result-list' %}" class="menu-link">
        <i class='menu-icon bx bx-check-square' ></i>
        <div>Результаты</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-rating-details' or url_name == 'student-rating-list' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'student-rating-list' %} active {% endif %}">
          <a href="{% url 'student-rating-list' %}" class="menu-link">
            <div class="text-truncate">Общий</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'student-rating-details' %} active {% endif %}">
          <a href="{% url 'student-rating-details' 1 %}" class="menu-link">
            <div class="text-truncate">Куран</div>
          </a>
        </li>

      </ul>
    </li>

    

  </ul>
  {% endif %}
  <!-- Преподаватель -->
  {% if request.user.role == 'teacher' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Преподавание</span></li>
    <li class="menu-item {% if url_name == 'schedule' %} active {% endif %}">
      <a href="{% url 'schedule' %}" class="menu-link">
        <i class=' menu-icon bx bx-calendar'></i>
        <div>Расписание</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'teacher-students' %} active {% endif %}">
      <a href="{% url 'teacher-students' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'grade-group-list' %} active {% endif %}">
      <a href="{% url 'grade-group-list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
    
    <li class="menu-item {% if url_name == 'teacher-code' %} active {% endif %}">
      <a href="{% url 'teacher-code' %}" class="menu-link">
        <i class='menu-icon bx bx-barcode-reader'></i>
        <div>Ввод кода</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-rating-details' or url_name == 'student-rating-list' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'student-rating-list' %} active {% endif %}">
          <a href="{% url 'student-rating-list' %}" class="menu-link">
            <div class="text-truncate">Общий</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'student-rating-details' %} active {% endif %}">
          <a href="{% url 'student-rating-details' 1 %}" class="menu-link">
            <div class="text-truncate">Куран</div>
          </a>
        </li>

      </ul>
    </li>

  </ul>
  {% endif %}
  <!-- Студент -->
  {% if request.user.role == 'student' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Обучение</span></li>
    <li class="menu-item {% if url_name == 'schedule' %} active {% endif %}">
      <a href="{% url 'schedule' %}" class="menu-link">
        <i class=' menu-icon bx bx-calendar'></i>
        <div>Расписание</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'group-list' %} active {% endif %}">
      <a href="{% url 'group-list'  %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Мои группы</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'transaction-list' %} active {% endif %}">
      <a href="{% url 'transaction-list' %}" class="menu-link">
        <i class='menu-icon bx bxl-paypal'></i>
        <div>Оплата</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'grade-diary' %} active {% endif %}">
      <a href="{% url 'grade-diary' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Дневник</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-exam-list' %} active {% endif %}">
      <a href="{% url 'student-exam-list' %}" class="menu-link">
        <i class='menu-icon bx bx-radio-circle-marked'></i>
        <div>Экзаминирование</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-rating-details' or url_name == 'student-rating-list' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'student-rating-list' %} active {% endif %}">
          <a href="{% url 'student-rating-list' %}" class="menu-link">
            <div class="text-truncate">Общий</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'student-rating-details' %} active {% endif %}">
          <a href="{% url 'student-rating-details' 1 %}" class="menu-link">
            <div class="text-truncate">Куран</div>
          </a>
        </li>

      </ul>
    </li>
    
  </ul>
  {% endif %}

  <!-- Operator -->
  {% if request.user.role == 'administrator' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    
    <li class="menu-item {% if url_name == 'schedule' or url_name == 'subject-create' or url_name == 'schedule-create' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon bx bx-food-menu '></i>
        <div class="text-truncate">Расписание</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'schedule' %} active {% endif %}">
          <a href="{% url 'schedule' %}" class="menu-link">
            <div class="text-truncate">Расписание</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'subject-create' %} active {% endif %}">
          <a href="{% url 'subject-create' %}" class="menu-link">
            <div class="text-truncate">Добавить предмет</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'schedule-create' %} active {% endif %}">
          <a href="{% url 'schedule-create' %}" class="menu-link">
            <div class="text-truncate">Расположение предметов</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if url_name == 'dashboard' %} active {% endif %}">
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div>Панель управления</div>
      </a>
    </li>

    <li class="menu-item {% if url_name == 'group-list' %} active {% endif %}">
      <a href="{% url 'group-list' %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Группы</div>
      </a>
    </li>

    <li class="menu-item {% if url_name == 'teacher-list' %} active {% endif %}">
      <a href="{% url 'teacher-list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div>Преподаватели</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-list' %} active {% endif %}">
      <a href="{% url 'student-list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'grade-group-list' %} active {% endif %}">
      <a href="{% url 'grade-group-list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'attendance-list' %} active {% endif %}">
      <a href="{% url 'attendance-list' %}" class="menu-link">
        <i class='menu-icon bx bx-list-ul' ></i>
        <div>Посещаемость</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'teacher-generated-code' %} active {% endif %}">
      <a href="{% url 'teacher-generated-code' %}" class="menu-link">
        <i class='menu-icon bx bx-barcode-reader'></i>
        <div>Генератор кода</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'exam-list' %} active {% endif %}">
      <a href="{% url 'exam-list' %}" class="menu-link">
        <i class='menu-icon bx bx-radio-circle-marked'></i>
        <div>Экзаминирование</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'exam-result-list' %} active {% endif %}">
      <a href="{% url 'exam-result-list' %}" class="menu-link">
        <i class='menu-icon bx bx-check-square' ></i>
        <div>Результаты</div>
      </a>
    </li>
    <li class="menu-item {% if url_name == 'student-rating-details' or url_name == 'student-rating-list' %} active open {% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if url_name == 'student-rating-list' %} active {% endif %}">
          <a href="{% url 'student-rating-list' %}" class="menu-link">
            <div class="text-truncate">Общий</div>
          </a>
        </li>
        <li class="menu-item {% if url_name == 'student-rating-details' %} active {% endif %}">
          <a href="{% url 'student-rating-details' 1 %}" class="menu-link">
            <div class="text-truncate">Куран</div>
          </a>
        </li>

      </ul>
    </li>

  </ul>
  {% endif %}
  {% endwith %}
    
  </aside>
  <!-- / Menu -->