{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        
      <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <form method="get" class="col-md-3">
                  <div class="d-flex align-items-center gap-2">
                    <input class="form-control" type="month" value="{{ current_year }}-{{ current_month }}" id="html5-month-input" name="date">
                    <button class="btn btn-primary">Фильтр</button>
                  </div>
                </form>
                <div class="d-flex gap-2 align-items-center">
                  <div class="d-flex gap-3">
                    <span>Всего выплачено: <span class="text-success">{{ total_payed }}</span>сом</span>
                  </div>
                  <a class="btn btn-primary" href="{% url 'salary-create' %}">Добавить</a>
                </div>
            </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5>Выдано зарплат: {{ salaries.count }}</h5>
        </div>
        <div class="table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>Ф.И.О</th>
                <th>Общая сумма</th>
                <th>Выплачено</th>
                <th>Остаток</th>
                <th>Дата</th>
                <th>Действие</th>
              </tr>
            </thead>
            <tbody>
              {% for salary in salaries %}
              
              <tr>
                <td>
                  {{ forloop.counter }}
                </td>
                <td>
                  <div class="d-flex align-items-center gap-3">
                    
                    <a href="{% url 'teacher-details' salary.teacher.id %}">
                      <span class="d-block"><strong class="text-dark">{{ salary.teacher.name }}</strong></span>
                      <span class="fs-12 d-block fw-normal text-muted">+{{ salary.teacher.phone }}</span>
                    </a>
                  </div>
                </td>
                <td>
                  <span class="badge bg-info">{{ salary.total_amount }}</span>
                </td>
                <td>
                  <span class="badge bg-success">{{ salary.amount }}</span>
                </td>
                <td>
                  <span class="badge bg-danger">{{ salary.get_remainder }}</span>
                </td>
                <td>
                  <span>{{ salary.date }}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-icon btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal{{ salary.id }}">
                <span class="tf-icons bx bx-trash"></span>
              </button>
              <div class="modal fade" id="basicModal{{ salary.id }}" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Удаление зп</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <span>Вы действительно хотите удалить эту выплату?</span>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        <div>
                            <a href="{% url 'salary-delete' salary.id %}" class="btn btn-danger">Удалить</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <a href="{% url 'salary-update' salary.id %}" class="btn btn-icon btn-warning" >
                <span class="tf-icons bx bx-edit"></span>
              </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="content-backdrop fade"></div>
</div>
{% endblock %}