{% extends 'base.html' %}
{% block content %}
{% include 'includes/messages.html' %}

<!-- Модальное окно для создания оплаты -->
<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Создание оплаты</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="row">
          <div class="col mb-6">
            <label for="amount" class="form-label">Сумма</label>
            {{ form.amount }}
          </div>
        </div>
        <div class="row g-6">
          <div class="col mb-0">
            <label for="date" class="form-label">Дата</label>
            {{ form.date }}
          </div>
          <div class="col mb-0">
            <label for="semester" class="form-label">Семестр</label>
            {{ form.semester }}
          </div>
          <div class="col mb-0">
            <label for="tupe" class="form-label">Тип транакции</label>
            {{ form.type }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Создать</button>
      </div>
    </form>
  </div>
</div>

<!-- Заголовок страницы с кнопкой создания -->
<div class="d-flex justify-content-between mb-3 align-items-center">
  <span class="fs-2 fw-bold">
    Транзакции <a href="{% url 'student-details' student.id %}">{{ student.name }}</a>
  </span>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
      Создать
    </button>
  </div>
</div>

<!-- Таблица транзакций -->
<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Дата</th>
            <th style="width: 400px;">Сумма</th>
            <th style="width: 30px;">Семестр</th>
            <th style="width: 30px;">Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <!-- Модальное окно для удаления транзакции -->
          <div class="modal fade" id="modalCenter-{{ transaction.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">Удаление транакции</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Удалить транакцию {{ transaction.name }}?
                </div>
                <div class="modal-footer">
                  <a href="{% url 'transaction-delete' transaction.id student.id %}" class="btn btn-danger">Удалить</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Строка с транзакцией -->
          <tr>
            <td>{{ transaction.date }}</td>
            <td><span class="badge bg-label-primary me-1">{{ transaction.amount }}</span></td>
            <td><span class="">{{ transaction.semester }}</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalCenter-{{ transaction.id }}">
                    <i class="bx bx-trash me-1"></i> Удалить
                  </button>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
