{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
    {% if request.user.role == 'student' %}
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Ф.И.О</th>
              <th>Сумма</th>
              <th>Курс</th>
              <th>Группа</th>
              <th>Дата</th>
              <th>Тип</th>
            </tr>
          </thead>
          <tbody>
            {% for student_transaction in student_transactions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <div class="d-flex align-items-center gap-3">
                  <a href="{% url 'student-details' student_transaction.student.id %}">
                    <span class="d-block"><strong class="text-dark">{{ student_transaction.student.name }}</strong></span>
                    <span class="fs-12 d-block fw-normal text-muted">+{{ student_transaction.student.phone }}</span>
                  </a>
                </div>
              </td>
              <td><span class="badge bg-success">{{ student_transaction.amount }}</span></td>
              <td><span>{{ student_transaction.student.group.course }}</span></td>
              <td><span>{{ student_transaction.student.group }}</span></td>
              <td><span>{{ student_transaction.date }}</span></td>
              <td>{{ student_transaction.get_type_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <form method="get" class="col-md-3">
            <div class="d-flex align-items-center gap-2">
              <input class="form-control" type="month" value="{{ current_year }}-{{ current_month }}" id="html5-month-input" name="date">
              <button class="btn btn-primary">Фильтр</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5>Транзакций: {{ transactions.count }}</h5>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Ф.И.О</th>
              <th>Сумма</th>
              <th>Курс</th>
              <th>Группа</th>
              <th>Дата</th>
              <th>Тип</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <div class="d-flex align-items-center gap-3">
                  <a href="{% url 'student-details' transaction.student.id %}">
                    <span class="d-block"><strong class="text-dark">{{ transaction.student.name }}</strong></span>
                    <span class="fs-12 d-block fw-normal text-muted">+{{ transaction.student.phone }}</span>
                  </a>
                </div>
              </td>
              <td><span class="badge bg-success">{{ transaction.amount }}</span></td>
              <td><span>{{ transaction.student.group.course }}</span></td>
              <td><span>{{ transaction.student.group }}</span></td>
              <td><span>{{ transaction.date }}</span></td>
              <td>{{ transaction.get_type_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    </div>
    <div class="content-backdrop fade"></div>
</div>
{% endblock %}
